@model WebBanThucAn.Models.ViewModels.ViewLogin;
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}
<h1 class="bg-info text-white text-center">Login</h1>
<div class="text-danger" asp-validation-summary="All"></div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
</div>
