@model WebBanThucAn.Models.MonAn

@{
    ViewData["Title"] = "Create";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Create</h1>

<h4>MonAn</h4>
<hr />
<div class="row" >
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phanLoai" class="control-label"></label>
                <select asp-for="phanLoai" class="form-control" asp-items="Html.GetEnumSelectList<WebBanThucAn.Models.MonAn.PhanLoai>()">
                    <option value="0">Select type ...</option>
                </select>
                <span asp-validation-for="phanLoai" class="text-danger"></span>
            </div>
            <div class="form-group" style="display:none;">
                <label asp-for="Hinh" class="control-label"></label>
                <input asp-for="Hinh" class="form-control" />
                <span asp-validation-for="Hinh" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <img src="~/images/MonAn/@Model.Hinh" style="height:100px" />
        </div>*@
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="form-control" type="file" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" asp-for="TrangThai"> @Html.DisplayNameFor(model => model.TrangThai)
                    <i class="input-helper"></i>
                </label>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
